.networkContainer {
  max-width: 998px;
  margin: 0 auto;
}

.feedLoading {
  display: flex;
  justify-content: center;
}

.feedEnd {
  padding: var(--spacer-xl);
  font-size: var(--font-size-l);
  display: flex;
  justify-content: center;
}
