.postActions button:hover {
  background-color: transparent;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacer-s);
}

.inputGroup input {
  margin-bottom: var(--spacer-m);
}

.editButton:hover {
  color: var(--color-purple);
}

.deleteButton:hover {
  color: var(--color-danger);
}
