:root {
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;

  --spacer-xs: 4px;
  --spacer-s: 8px;
  --spacer-m: 14px;
  --spacer-l: 18px;
  --spacer-xl: 28px;

  --main-font-family: "Poppins", sans-serif;

  --color-blue: #4cb7d5;
  --color-blue-darker: #3a9ab4;
  --color-purple: #8183f8;

  --color-danger: #cc2923;
  --color-danger-darker: rgb(165, 31, 26);
  --color-gray: #cacaca;

  --radius: 5px;

  --breakpoint-sm: 600px;

  --header-height: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  background-color: black;
  color: white;
  font-size: var(--font-size-xs);
  font-weight: bold;
  text-transform: uppercase;
  padding: var(--spacer-s) var(--spacer-m);

  cursor: pointer;
}

button:hover {
  background-color: var(--color-purple);
}

input {
  border: none;
  font-size: var(--font-size-m);
  padding: var(--spacer-s);
  border: 2px solid var(--color-purple);
  border-radius: var(--radius);
}

textarea {
  border: none;
  font-size: var(--font-size-m);
  padding: var(--spacer-s);
  border: 2px solid var(--color-purple);
  font-family: var(--main-font-family);
  border-radius: var(--radius);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.warnButton {
  background-color: var(--color-danger);
}

.warnButton:hover {
  background-color: var(--color-danger-darker);
}

.primaryButton {
  background-color: var(--color-blue);
}

.primaryButton:hover {
  background-color: var(--color-blue-darker);
}

.disabledButton {
  background-color: var(--color-gray);
}

.disabledButton:hover {
  background-color: var(--color-gray);
}

.errorMessage {
  font-size: var(--font-size-xs);
  color: var(--color-danger);
}
